<ul id="muscle">
    <li><%= link_to 'Monday', tone_monday_path %></li>
    <li><%= link_to 'Tuesday', tone_tuesday_path %></li>
    <li><%= link_to 'Wednesday', tone_wednesday_path %></li>
    <li><%= link_to 'Thursday', tone_thursday_path %></li>
    <li><%= link_to 'Friday',tone_friday_path %></li>
    <li><%= link_to 'Saturday', tone_saturday_path %></li>
    <li><%= link_to 'Sunday', tone_sunday_path %></li>
    </ul>