<table class="paleBlueRows">
	<thead>
		<tr>
			<th><%= link_to 'Sunday', tone_sunday_path %></th>
			<th><%= link_to 'Monday', tone_monday_path %></th>
			<th><%= link_to 'Tuesday', tone_tuesday_path %></th>
			<th><%= link_to 'Wednesday', tone_wednesday_path %></th>
			<th><%= link_to 'Thursday', tone_thursday_path %></th>
			<th><%= link_to 'Friday',tone_friday_path %></th>
			<th><%= link_to 'Saturday', tone_saturday_path %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to 'Rest or Cardio', tone_sunday_path %></td>
			<td><%= link_to 'Legs and Abs', tone_monday_path %></td>
			<td><%= link_to 'Chest and Triceps', tone_tuesday_path %></td>
			<td><%= link_to 'High Intensity Interval Training', tone_wednesday_path %></td>
			<td><%= link_to 'Back, Biceps, and Abs', tone_thursday_path %></td>
			<td><%= link_to 'Shoulders, Calves, Forearms, and Cardio',tone_friday_path %></td>
			<td><%= link_to 'Rest or Cardio', tone_saturday_path %></td>
		</tr>
	</tbody>
</table>
