<ul id="muscle">
    <li><%= link_to 'Monday', monday_path %></li>
    <li><%= link_to 'Tuesday', tuesday_path %></li>
    <li><%= link_to 'Wednesday', wednesday_path %></li>
    <li><%= link_to 'Thursday', thursday_path %></li>
    <li><%= link_to 'Friday',friday_path %></li>
    <li><%= link_to 'Saturday', saturday_path %></li>
    <li><%= link_to 'Sunday', sunday_path %></li>
    </ul>