<ul id="muscle">
    <li><%= link_to 'Monday', strength_monday_path %></li>
    <li><%= link_to 'Tuesday', strength_tuesday_path %></li>
    <li><%= link_to 'Wednesday', strength_wednesday_path %></li>
    <li><%= link_to 'Thursday', strength_thursday_path %></li>
    <li><%= link_to 'Friday',strength_friday_path %></li>
    <li><%= link_to 'Saturday', strength_saturday_path %></li>
    <li><%= link_to 'Sunday', strength_sunday_path %></li>
</ul>