<ul id="muscle">
	<li><%= link_to 'Monday', size_monday_path %></li>
	<li><%= link_to 'Tuesday', size_tuesday_path %></li>
    <li><%= link_to 'Wednesday', size_wednesday_path %></li>
    <li><%= link_to 'Thursday', size_thursday_path %></li>
    <li><%= link_to 'Friday', size_friday_path %></li>
    <li><%= link_to 'Saturday', size_saturday_path %></li>
    <li><%= link_to 'Sunday', size_sunday_path %></li>
</ul>