<table class="paleBlueRows">
	<thead>
		<tr>
			<th><%= link_to 'Sunday', size_sunday_path %></th>
			<th><%= link_to 'Monday', size_monday_path %></th>
			<th><%= link_to 'Tuesday', size_tuesday_path %></th>
			<th><%= link_to 'Wednesday', size_wednesday_path %></th>
			<th><%= link_to 'Thursday', size_thursday_path %></th>
			<th><%= link_to 'Friday', size_friday_path %></th>
			<th><%= link_to 'Saturday', size_saturday_path %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to 'Rest or Cardio', size_sunday_path %></td>
			<td><%= link_to 'Chest, Triceps, and Calves', size_monday_path %></td>
			<td><%= link_to 'Back, Biceps, and Abs', size_tuesday_path %></td>
			<td><%= link_to 'Cardio', size_wednesday_path %></td>
			<td><%= link_to 'Shoulders, Traps, and Calves', size_thursday_path %></td>
			<td><%= link_to 'Legs and Abs', size_friday_path %></td>
			<td><%= link_to 'Rest or Cardio', size_saturday_path %></td>
		</tr>
	</tbody>
</table>
