<h1 id="individualmuscleexercises">Individual Muscle Exercises</h1>

	<ul id="muscle">
	    <li id="arms"><%= link_to 'Arms', arm_path, { onmouseover: "handleMouseOver('arms')", onmouseout: "handleMouseOut('arms')" } %></li><br>

	    <li id="shoulders"><%= link_to 'Shoulders', shoulder_path, { onmouseover: "handleMouseOver('shoulders')", onmouseout: "handleMouseOut('shoulders')" } %></li><br>

	    <li id="chest"><%= link_to 'Chest', chest_path, { onmouseover: "handleMouseOver('chest0')", onmouseout: "handleMouseOut('chest0')" } %></li><br>

	    <li id="abs"><%= link_to 'Abs', abs_path, { onmouseover: "handleMouseOver('abs0')", onmouseout: "handleMouseOut('abs0')" } %></li><br>

	    <li id="back"><%= link_to 'Back', back_path, { onmouseover: "handleMouseOver('back0')", onmouseout: "handleMouseOut('back0')" } %></li><br>

	    <li id="legs"><%= link_to 'Legs', leg_path, { onmouseover: "handleMouseOver('legs0')", onmouseout: "handleMouseOut('legs0')" } %></li><br>

	    <li id="cardio"><%= link_to 'Cardio', cardio_path, { onmouseover: "handleMouseOver('cardio0')", onmouseout: "handleMouseOut('cardio0')" } %></li><br>
	</ul>


	<div id="muscleman">
		<%= image_tag image_path("musclegroups.png"), class: "man" %>
	</div>


	<div id="touchpoints">
		<i id="shoulders1" class="fa fa-circle fa-lg shoulders" aria-hidden="true"></i>
		<i id="shoulders2" class="fa fa-circle fa-lg shoulders" aria-hidden="true"></i>
		<i id="shoulders3" class="fa fa-circle fa-lg shoulders" aria-hidden="true"></i>
		<i id="shoulders4" class="fa fa-circle fa-lg shoulders" aria-hidden="true"></i>

		<i id="chest1" class="fa fa-circle fa-lg chest" aria-hidden="true"></i>
		<i id="chest2" class="fa fa-circle fa-lg chest" aria-hidden="true"></i>

		<i id="arms1" class="fa fa-circle fa-lg arms" aria-hidden="true"></i>
		<i id="arms2" class="fa fa-circle fa-lg arms" aria-hidden="true"></i>
		<i id="arms3" class="fa fa-circle fa-lg arms" aria-hidden="true"></i>
		<i id="arms4" class="fa fa-circle fa-lg arms" aria-hidden="true"></i>

		<i id="abs1" class="fa fa-circle fa-lg abs" aria-hidden="true"></i>
		
		<i id="back1" class="fa fa-circle fa-lg back" aria-hidden="true"></i>
		<i id="back2" class="fa fa-circle fa-lg back" aria-hidden="true"></i>
		
		<i id="legs1" class="fa fa-circle fa-lg legs" aria-hidden="true"></i>
		<i id="legs2" class="fa fa-circle fa-lg legs" aria-hidden="true"></i>
		<i id="legs3" class="fa fa-circle fa-lg legs" aria-hidden="true"></i>
		<i id="legs4" class="fa fa-circle fa-lg legs" aria-hidden="true"></i>

		<i id="cardio1" class="fa fa-circle fa-lg cardio" aria-hidden="true"></i>
		<i id="cardio2" class="fa fa-circle fa-lg cardio" aria-hidden="true"></i>
		<i id="cardio3" class="fa fa-circle fa-lg cardio" aria-hidden="true"></i>
		<i id="cardio4" class="fa fa-circle fa-lg cardio" aria-hidden="true"></i>
	</div>



