<ul id="muscle">
    <li><%= link_to 'Arm', arm_path %></li>
    <li><%= link_to 'Shoulder', shoulder_path %></li>
    <li><%= link_to 'Chest', chest_path %></li>
    <li><%= link_to 'ABS', abs_path %></li>
    <li><%= link_to 'Back',back_path %></li>
    <li><%= link_to 'Leg', leg_path %></li>
    <li><%= link_to 'Cardio', cardio_path %></li>
    </ul>
